/*Общий цвет фона*/

body {
    background-color: #FFFFFF;
}


/*Все ссылки в документе*/

a {
    text-decoration: none;
    color: #5640F9;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 0.9em;
    font-style: oblique;
    font-variant: small-caps;
    letter-spacing: normal;
    text-align: center;
}

a:hover {
    color: #FF5100;
}

a:active {
    color: #FF5100;
}


/*Меню сайта*/

.menu li {
    color: #5640F9;
    font-size: 1.5em;
    font-family: Georgia, serif;
    font-weight: normal;
    list-style-type: none;
    border: 2px solid #5640F9;
    width: 130px;
    height: 30px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #FFFFFF;
    display: inline-block;
}

.menu li a:hover {
    color: #FF5100;
}

.menu li a:active {
    color: #FF5100;
}


/*Все заголовки*/

h3 {
    color: black;
    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
    background-color: #eaeaea;
}

h1 {
    color: black;
    font-family: Georgia, serif;
}


/*Весь текст*/

.welcome:first-letter {
    font-size: 30px;
    color: #FF5100;
    font-weight: bolder;
}

.short {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-family: Georgia, serif;
}

.short:first-letter {
    font-size: 30px;
    color: #FF5100;
    font-weight: bolder;
}

.long {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
}

.long:first-letter {
    font-size: 30px;
    color: #FF5100;
    font-weight: bolder;
}

.characteristic {
    list-style-image: url(../Markers/Marker_1_10px.png);
    color: black;
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}

.P_characteristic {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
}

.P_characteristic:first-letter {
    font-size: 30px;
    color: #FF5100;
    font-weight: bolder;
}


/*Поля для ввода текста*/

input[type="text"] {
    width: 355px;
    height: 25px;
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
    font-weight: normal;
    text-transform: capitalize;
}

input[type="email"] {
    width: 355px;
    height: 25px;
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
    font-weight: normal;
    text-transform: capitalize;
}

input[type="number"] {
    width: 355px;
    height: 25px;
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
    font-weight: normal;
    text-transform: capitalize;
}

input[type="reset"] {
    width: 170px;
    height: 25px;
    color: black;
    font-size: 0.9em;
    font-family: Georgia, serif;
    font-weight: normal;
}

input[type="submit"] {
    width: 170px;
    height: 25px;
    color: black;
    font-size: 0.9em;
    font-family: Georgia, serif;
    font-weight: normal;
}

.email:focus {
    color: blue !important;
    background-color: yellow;
}

textarea {
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
    font-weight: normal;
    text-transform: capitalize;
    width: 415px;
    height: 140px;
}

.forma {
    font-family: Georgia, serif;
}

.wrapper {
    padding: 0;
}

.form-row {
    display: flex;
    line-height: 47px;
    width: 470px;
}

.form-row > label {
    flex: 14;
    padding-right: 10px;
}

.form-row > input,
.form-row > button {
    padding: 0.5em;
}

.buy {
    width: 355px;
    height: 30px;
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
    font-weight: normal;
    text-transform: capitalize;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

button:hover {
    background-color: lawngreen
}

button:active {
    background-color: lawngreen
}


/*Рамки для изображений*/

.Big_photo_car {
    outline: 2.5px double blue;
}

.Big_photo_car:hover {
    outline: none;
}

.map {
    outline: 2px double blue;
}

.map:hover {
    outline: none;
}

.catalog_foto {
    outline: 2.5px double blue;
}

.catalog_foto:hover {
    outline: none;
}


/*Адрес магазина*/

.Store_Address {
    list-style-type: none;
    text-align: left;
}


/*Блоки div*/

.contanier_main {
    width: 1500px;
    margin: 0 auto;
    background-color: #FFFFE9;
}

.header {
    height: 300px;
    background-image: url(../background/background6.png);
}

.logo {
    height: 230px;
    width: 400px;
    margin: 0 auto;
}

.contanier {
    margin-left: 10px;
    margin-right: 10px;
}

.welcome {
    height: 260px;
    width: 520px;
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
}

.footer {
    background-image: url(../background/footer5.png);
    height: 100px;
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
    clear: both;
}

.copy {
    width: 180px;
    margin-left: 7px;
    padding-top: 57px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
    color: black;
}

.car1 {
    margin-top: 28px;
}

.car2 {
    margin-top: 32px;
}

.car2_img {
    margin-top: -8px;
}

.car3 {
    float: left;
    margin-top: 40px;
}

.map_ya {}



.table {
    font-style: normal;
    font-weight: normal;
    font-family: Georgia, serif;
    line-height: normal;
    color: black;
}
.forma_contacts {
    font-family: Georgia, serif;
}
.car {
    height: 305px;
    width: 500px;
    float: left;
}
.feature {
    clear: both;
}
.button {
    height: 30px;
    width: 355px;
    margin: 0 auto;
}
.catalog_img {
    width: 250px;
    height: 250px;
    float: left;
}

/*Таблицы*/
table {
    border: 1px solid;
    width: 500px;
    height: 200px;
    border-collapse: collapse;
    color: black;
    font-family: Georgia, serif;
    font-weight: normal;
}
caption {
    font-size: 1.2em;
    color: black;
    text-align: center;
    line-height: 50px;
}
table td {
    border: 0.5px solid;
    text-align: center;
}
.first_line {
    background-color: #FFFFED;
    font-weight: bold;
}
.second_line {
    font-weight: normal;
}
.third_line {
    font-weight: normal;
}